# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:docker@localhost:5432/foodu"
PORT=3334


# AWS Access variables
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REAGION=""
AWS_S3_BUCKET=""

# The hash password can be any number (don't use big numbers)
HASH_PASSWORD=
JWT_SECRET="@#@!"

FILE_PROVIDER="localStorage"
API_URL="http://localhost:3333"